USE [master]
GO
/****** Object:  Database [sistema_parqueaderos]    Script Date: 02/03/2026 08:48:07 a. m. ******/
CREATE DATABASE [sistema_parqueaderos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sistema_parqueaderos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sistema_parqueaderos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sistema_parqueaderos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sistema_parqueaderos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sistema_parqueaderos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sistema_parqueaderos]
GO
/****** Object:  Table [dbo].[asignaciones_tags]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asignaciones_tags](
	[id_asignacion] [bigint] IDENTITY(1,1) NOT NULL,
	[id_tag] [bigint] NOT NULL,
	[id_vehiculo] [bigint] NOT NULL,
	[fecha_asignacion] [datetime2](7) NOT NULL,
	[es_primer_tag] [bit] NOT NULL,
	[costo] [decimal](10, 2) NOT NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_asignaciones_tags] PRIMARY KEY CLUSTERED 
(
	[id_asignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[espacios_parqueadero]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[espacios_parqueadero](
	[id_espacio] [bigint] IDENTITY(1,1) NOT NULL,
	[id_sitio] [bigint] NOT NULL,
	[numero_espacio] [varchar](20) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[tipo_espacio] [varchar](20) NOT NULL,
 CONSTRAINT [PK_espacios_parqueadero] PRIMARY KEY CLUSTERED 
(
	[id_espacio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_espacio_sitio] UNIQUE NONCLUSTERED 
(
	[id_sitio] ASC,
	[numero_espacio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horarios_roles]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horarios_roles](
	[id_horario] [bigint] IDENTITY(1,1) NOT NULL,
	[id_rol] [bigint] NOT NULL,
	[dia_semana] [int] NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
 CONSTRAINT [PK_horarios_roles] PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incidentes]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incidentes](
	[id_incidente] [bigint] IDENTITY(1,1) NOT NULL,
	[id_sitio] [bigint] NOT NULL,
	[reportado_por] [bigint] NOT NULL,
	[fecha_incidente] [datetime2](7) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_incidentes] PRIMARY KEY CLUSTERED 
(
	[id_incidente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incumplimientos]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incumplimientos](
	[id_incumplimiento] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NOT NULL,
	[id_registro_acceso] [bigint] NULL,
	[motivo] [varchar](255) NOT NULL,
	[fecha_falta] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_incumplimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operaciones_manuales_barrera]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operaciones_manuales_barrera](
	[id_operacion] [bigint] IDENTITY(1,1) NOT NULL,
	[id_sitio] [bigint] NOT NULL,
	[id_operador] [bigint] NOT NULL,
	[hora_operacion] [datetime2](7) NOT NULL,
	[accion] [varchar](20) NOT NULL,
	[motivo] [varchar](255) NOT NULL,
 CONSTRAINT [PK_operaciones_manuales_barrera] PRIMARY KEY CLUSTERED 
(
	[id_operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id_pago] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NULL,
	[id_ticket] [bigint] NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[metodo_pago] [varchar](20) NOT NULL,
	[fecha_pago] [datetime2](7) NOT NULL,
	[codigo_referencia] [varchar](100) NULL,
	[estado_pago] [varchar](20) NOT NULL,
	[evidencia_url] [varchar](500) NULL,
 CONSTRAINT [PK_pagos] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[periodos_registro]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[periodos_registro](
	[id_periodo] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre_periodo] [varchar](100) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[es_activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_periodos_registro] PRIMARY KEY CLUSTERED 
(
	[id_periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registros_acceso]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registros_acceso](
	[id_registro] [bigint] IDENTITY(1,1) NOT NULL,
	[id_sitio] [bigint] NOT NULL,
	[id_vehiculo] [bigint] NULL,
	[id_tag] [bigint] NULL,
	[id_ticket] [bigint] NULL,
	[hora_entrada] [datetime2](7) NOT NULL,
	[hora_salida] [datetime2](7) NULL,
	[estado_acceso] [varchar](30) NOT NULL,
	[observaciones] [varchar](255) NULL,
 CONSTRAINT [PK_registros_acceso] PRIMARY KEY CLUSTERED 
(
	[id_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registros_auditoria]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registros_auditoria](
	[id_auditoria] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre_tabla] [varchar](50) NOT NULL,
	[id_registro_afectado] [bigint] NOT NULL,
	[tipo_accion] [varchar](10) NOT NULL,
	[datos_antiguos] [nvarchar](max) NULL,
	[datos_nuevos] [nvarchar](max) NULL,
	[cambiado_por] [varchar](100) NOT NULL,
	[cambiado_en] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_registros_auditoria] PRIMARY KEY CLUSTERED 
(
	[id_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservas_espacios]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservas_espacios](
	[id_reserva] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NOT NULL,
	[id_espacio] [bigint] NOT NULL,
	[fecha_inicio] [datetime2](7) NOT NULL,
	[fecha_fin] [datetime2](7) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_rol] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) NOT NULL,
	[es_admin] [bit] NOT NULL,
	[descripcion] [varchar](255) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_nombre_rol] UNIQUE NONCLUSTERED 
(
	[nombre_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanciones]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanciones](
	[id_sancion] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NOT NULL,
	[motivo] [varchar](255) NOT NULL,
	[fecha_inicio] [datetime2](7) NOT NULL,
	[fecha_fin] [datetime2](7) NOT NULL,
	[es_activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_sanciones] PRIMARY KEY CLUSTERED 
(
	[id_sancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sitios_parqueadero]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sitios_parqueadero](
	[id_sitio] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[capacidad_total] [int] NOT NULL,
	[es_activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_sitios_parqueadero] PRIMARY KEY CLUSTERED 
(
	[id_sitio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitudes_tag]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitudes_tag](
	[id_solicitud] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NOT NULL,
	[id_vehiculo] [bigint] NOT NULL,
	[id_periodo] [bigint] NOT NULL,
	[id_sitio] [bigint] NOT NULL,
	[evidencia_pago_url] [varchar](500) NULL,
	[estado] [varchar](20) NOT NULL,
	[id_aprobador] [bigint] NULL,
	[fecha_aprobacion] [datetime2](7) NULL,
	[motivo_rechazo] [varchar](255) NULL,
	[fecha_solicitud] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[id_tag] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo_epc] [varchar](100) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_compra] [date] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tags] PRIMARY KEY CLUSTERED 
(
	[id_tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_codigo_epc] UNIQUE NONCLUSTERED 
(
	[codigo_epc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarifas]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarifas](
	[id_tarifa] [bigint] IDENTITY(1,1) NOT NULL,
	[id_rol] [bigint] NOT NULL,
	[tipo_vehiculo] [varchar](20) NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[valido_desde] [datetime2](7) NOT NULL,
	[valido_hasta] [datetime2](7) NULL,
	[version] [int] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tarifas] PRIMARY KEY CLUSTERED 
(
	[id_tarifa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets_visitantes]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets_visitantes](
	[id_ticket] [bigint] IDENTITY(1,1) NOT NULL,
	[id_sitio] [bigint] NOT NULL,
	[placa] [varchar](20) NOT NULL,
	[hora_entrada] [datetime2](7) NOT NULL,
	[hora_salida] [datetime2](7) NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_tickets_visitantes] PRIMARY KEY CLUSTERED 
(
	[id_ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [bigint] IDENTITY(1,1) NOT NULL,
	[id_rol] [bigint] NOT NULL,
	[id_periodo] [bigint] NOT NULL,
	[documento_identidad] [varchar](50) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[es_activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[tiene_discapacidad] [bit] NOT NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_documento_identidad] UNIQUE NONCLUSTERED 
(
	[documento_identidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiculos]    Script Date: 02/03/2026 08:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculos](
	[id_vehiculo] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NOT NULL,
	[placa] [varchar](20) NOT NULL,
	[tipo_vehiculo] [varchar](20) NOT NULL,
	[marca] [varchar](50) NULL,
	[color] [varchar](30) NULL,
	[es_activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_vehiculos] PRIMARY KEY CLUSTERED 
(
	[id_vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_placa] UNIQUE NONCLUSTERED 
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_asignaciones_tags_vehiculo]    Script Date: 02/03/2026 08:48:07 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_asignaciones_tags_vehiculo] ON [dbo].[asignaciones_tags]
(
	[id_vehiculo] ASC
)
WHERE ([estado]='ACTIVO')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_registros_acceso_sitio_hora]    Script Date: 02/03/2026 08:48:07 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_registros_acceso_sitio_hora] ON [dbo].[registros_acceso]
(
	[id_sitio] ASC,
	[hora_entrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_registros_auditoria_tabla]    Script Date: 02/03/2026 08:48:07 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_registros_auditoria_tabla] ON [dbo].[registros_auditoria]
(
	[nombre_tabla] ASC,
	[id_registro_afectado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_sanciones_activas]    Script Date: 02/03/2026 08:48:07 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_sanciones_activas] ON [dbo].[sanciones]
(
	[id_usuario] ASC
)
WHERE ([es_activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tags_estado]    Script Date: 02/03/2026 08:48:07 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_tags_estado] ON [dbo].[tags]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tickets_visitantes_placa]    Script Date: 02/03/2026 08:48:07 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_tickets_visitantes_placa] ON [dbo].[tickets_visitantes]
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_usuarios_documento]    Script Date: 02/03/2026 08:48:07 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_usuarios_documento] ON [dbo].[usuarios]
(
	[documento_identidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_usuarios_id_rol]    Script Date: 02/03/2026 08:48:07 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_usuarios_id_rol] ON [dbo].[usuarios]
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_vehiculos_id_usuario]    Script Date: 02/03/2026 08:48:07 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_vehiculos_id_usuario] ON [dbo].[vehiculos]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[asignaciones_tags] ADD  DEFAULT (sysdatetime()) FOR [fecha_asignacion]
GO
ALTER TABLE [dbo].[asignaciones_tags] ADD  DEFAULT ((1)) FOR [es_primer_tag]
GO
ALTER TABLE [dbo].[asignaciones_tags] ADD  DEFAULT ((0.00)) FOR [costo]
GO
ALTER TABLE [dbo].[espacios_parqueadero] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[espacios_parqueadero] ADD  DEFAULT ('NORMAL') FOR [tipo_espacio]
GO
ALTER TABLE [dbo].[incidentes] ADD  DEFAULT (sysdatetime()) FOR [fecha_incidente]
GO
ALTER TABLE [dbo].[incumplimientos] ADD  DEFAULT (sysdatetime()) FOR [fecha_falta]
GO
ALTER TABLE [dbo].[operaciones_manuales_barrera] ADD  DEFAULT (sysdatetime()) FOR [hora_operacion]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT (sysdatetime()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT ('COMPLETADO') FOR [estado_pago]
GO
ALTER TABLE [dbo].[periodos_registro] ADD  DEFAULT ((0)) FOR [es_activo]
GO
ALTER TABLE [dbo].[periodos_registro] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[registros_acceso] ADD  DEFAULT (sysdatetime()) FOR [hora_entrada]
GO
ALTER TABLE [dbo].[registros_auditoria] ADD  DEFAULT (suser_sname()) FOR [cambiado_por]
GO
ALTER TABLE [dbo].[registros_auditoria] ADD  DEFAULT (sysdatetime()) FOR [cambiado_en]
GO
ALTER TABLE [dbo].[reservas_espacios] ADD  DEFAULT ('ACTIVA') FOR [estado]
GO
ALTER TABLE [dbo].[reservas_espacios] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [es_admin]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[sanciones] ADD  DEFAULT ((1)) FOR [es_activo]
GO
ALTER TABLE [dbo].[sanciones] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[sitios_parqueadero] ADD  DEFAULT ((1)) FOR [es_activo]
GO
ALTER TABLE [dbo].[sitios_parqueadero] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[solicitudes_tag] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[solicitudes_tag] ADD  DEFAULT (sysdatetime()) FOR [fecha_solicitud]
GO
ALTER TABLE [dbo].[tags] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[tarifas] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[tarifas] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[tickets_visitantes] ADD  DEFAULT (sysdatetime()) FOR [hora_entrada]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [es_activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [tiene_discapacidad]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT ((1)) FOR [es_activo]
GO
ALTER TABLE [dbo].[vehiculos] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[asignaciones_tags]  WITH CHECK ADD  CONSTRAINT [FK_Asignaciones_Tags] FOREIGN KEY([id_tag])
REFERENCES [dbo].[tags] ([id_tag])
GO
ALTER TABLE [dbo].[asignaciones_tags] CHECK CONSTRAINT [FK_Asignaciones_Tags]
GO
ALTER TABLE [dbo].[asignaciones_tags]  WITH CHECK ADD  CONSTRAINT [FK_Asignaciones_Vehiculos] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[vehiculos] ([id_vehiculo])
GO
ALTER TABLE [dbo].[asignaciones_tags] CHECK CONSTRAINT [FK_Asignaciones_Vehiculos]
GO
ALTER TABLE [dbo].[espacios_parqueadero]  WITH CHECK ADD  CONSTRAINT [FK_Espacios_Sitios] FOREIGN KEY([id_sitio])
REFERENCES [dbo].[sitios_parqueadero] ([id_sitio])
GO
ALTER TABLE [dbo].[espacios_parqueadero] CHECK CONSTRAINT [FK_Espacios_Sitios]
GO
ALTER TABLE [dbo].[horarios_roles]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[horarios_roles] CHECK CONSTRAINT [FK_Horarios_Roles]
GO
ALTER TABLE [dbo].[incidentes]  WITH CHECK ADD  CONSTRAINT [FK_Incidentes_Sitios] FOREIGN KEY([id_sitio])
REFERENCES [dbo].[sitios_parqueadero] ([id_sitio])
GO
ALTER TABLE [dbo].[incidentes] CHECK CONSTRAINT [FK_Incidentes_Sitios]
GO
ALTER TABLE [dbo].[incidentes]  WITH CHECK ADD  CONSTRAINT [FK_Incidentes_Usuarios] FOREIGN KEY([reportado_por])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[incidentes] CHECK CONSTRAINT [FK_Incidentes_Usuarios]
GO
ALTER TABLE [dbo].[incumplimientos]  WITH CHECK ADD FOREIGN KEY([id_registro_acceso])
REFERENCES [dbo].[registros_acceso] ([id_registro])
GO
ALTER TABLE [dbo].[incumplimientos]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[operaciones_manuales_barrera]  WITH CHECK ADD  CONSTRAINT [FK_Barrera_Sitios] FOREIGN KEY([id_sitio])
REFERENCES [dbo].[sitios_parqueadero] ([id_sitio])
GO
ALTER TABLE [dbo].[operaciones_manuales_barrera] CHECK CONSTRAINT [FK_Barrera_Sitios]
GO
ALTER TABLE [dbo].[operaciones_manuales_barrera]  WITH CHECK ADD  CONSTRAINT [FK_Barrera_Usuarios] FOREIGN KEY([id_operador])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[operaciones_manuales_barrera] CHECK CONSTRAINT [FK_Barrera_Usuarios]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Tickets] FOREIGN KEY([id_ticket])
REFERENCES [dbo].[tickets_visitantes] ([id_ticket])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK_Pagos_Tickets]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK_Pagos_Usuarios]
GO
ALTER TABLE [dbo].[registros_acceso]  WITH CHECK ADD  CONSTRAINT [FK_Acceso_Sitios] FOREIGN KEY([id_sitio])
REFERENCES [dbo].[sitios_parqueadero] ([id_sitio])
GO
ALTER TABLE [dbo].[registros_acceso] CHECK CONSTRAINT [FK_Acceso_Sitios]
GO
ALTER TABLE [dbo].[registros_acceso]  WITH CHECK ADD  CONSTRAINT [FK_Acceso_Tags] FOREIGN KEY([id_tag])
REFERENCES [dbo].[tags] ([id_tag])
GO
ALTER TABLE [dbo].[registros_acceso] CHECK CONSTRAINT [FK_Acceso_Tags]
GO
ALTER TABLE [dbo].[registros_acceso]  WITH CHECK ADD  CONSTRAINT [FK_Acceso_Tickets] FOREIGN KEY([id_ticket])
REFERENCES [dbo].[tickets_visitantes] ([id_ticket])
GO
ALTER TABLE [dbo].[registros_acceso] CHECK CONSTRAINT [FK_Acceso_Tickets]
GO
ALTER TABLE [dbo].[registros_acceso]  WITH CHECK ADD  CONSTRAINT [FK_Acceso_Vehiculos] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[vehiculos] ([id_vehiculo])
GO
ALTER TABLE [dbo].[registros_acceso] CHECK CONSTRAINT [FK_Acceso_Vehiculos]
GO
ALTER TABLE [dbo].[reservas_espacios]  WITH CHECK ADD FOREIGN KEY([id_espacio])
REFERENCES [dbo].[espacios_parqueadero] ([id_espacio])
GO
ALTER TABLE [dbo].[reservas_espacios]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[sanciones]  WITH CHECK ADD  CONSTRAINT [FK_Sanciones_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[sanciones] CHECK CONSTRAINT [FK_Sanciones_Usuarios]
GO
ALTER TABLE [dbo].[solicitudes_tag]  WITH CHECK ADD FOREIGN KEY([id_aprobador])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[solicitudes_tag]  WITH CHECK ADD FOREIGN KEY([id_periodo])
REFERENCES [dbo].[periodos_registro] ([id_periodo])
GO
ALTER TABLE [dbo].[solicitudes_tag]  WITH CHECK ADD FOREIGN KEY([id_sitio])
REFERENCES [dbo].[sitios_parqueadero] ([id_sitio])
GO
ALTER TABLE [dbo].[solicitudes_tag]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[solicitudes_tag]  WITH CHECK ADD FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[vehiculos] ([id_vehiculo])
GO
ALTER TABLE [dbo].[tarifas]  WITH CHECK ADD  CONSTRAINT [FK_Tarifas_Roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[tarifas] CHECK CONSTRAINT [FK_Tarifas_Roles]
GO
ALTER TABLE [dbo].[tickets_visitantes]  WITH CHECK ADD  CONSTRAINT [FK_Visitantes_Sitios] FOREIGN KEY([id_sitio])
REFERENCES [dbo].[sitios_parqueadero] ([id_sitio])
GO
ALTER TABLE [dbo].[tickets_visitantes] CHECK CONSTRAINT [FK_Visitantes_Sitios]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Periodos] FOREIGN KEY([id_periodo])
REFERENCES [dbo].[periodos_registro] ([id_periodo])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_Usuarios_Periodos]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Usuarios]
GO
ALTER TABLE [dbo].[asignaciones_tags]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoAsignacion] CHECK  (([estado]='VENCIDO' OR [estado]='SUSPENDIDO' OR [estado]='REVOCADO' OR [estado]='REEMPLAZADO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[asignaciones_tags] CHECK CONSTRAINT [CHK_EstadoAsignacion]
GO
ALTER TABLE [dbo].[espacios_parqueadero]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoEspacio] CHECK  (([estado]='RESERVADO' OR [estado]='DISPONIBLE' OR [estado]='OCUPADO' OR [estado]='MANTENIMIENTO'))
GO
ALTER TABLE [dbo].[espacios_parqueadero] CHECK CONSTRAINT [CHK_EstadoEspacio]
GO
ALTER TABLE [dbo].[espacios_parqueadero]  WITH CHECK ADD  CONSTRAINT [CHK_TipoEspacio] CHECK  (([tipo_espacio]='MIXTO' OR [tipo_espacio]='DISCAPACIDAD' OR [tipo_espacio]='NORMAL'))
GO
ALTER TABLE [dbo].[espacios_parqueadero] CHECK CONSTRAINT [CHK_TipoEspacio]
GO
ALTER TABLE [dbo].[horarios_roles]  WITH CHECK ADD  CONSTRAINT [CHK_DiaSemana] CHECK  (([dia_semana]>=(1) AND [dia_semana]<=(7)))
GO
ALTER TABLE [dbo].[horarios_roles] CHECK CONSTRAINT [CHK_DiaSemana]
GO
ALTER TABLE [dbo].[incidentes]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoIncidente] CHECK  (([estado]='CERRADO' OR [estado]='RESUELTO' OR [estado]='EN_PROGRESO' OR [estado]='ABIERTO'))
GO
ALTER TABLE [dbo].[incidentes] CHECK CONSTRAINT [CHK_EstadoIncidente]
GO
ALTER TABLE [dbo].[operaciones_manuales_barrera]  WITH CHECK ADD  CONSTRAINT [CHK_AccionBarrera] CHECK  (([accion]='CERRAR' OR [accion]='ABRIR'))
GO
ALTER TABLE [dbo].[operaciones_manuales_barrera] CHECK CONSTRAINT [CHK_AccionBarrera]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoPagoN] CHECK  (([estado_pago]='COMPLETADO' OR [estado_pago]='RECHAZADO' OR [estado_pago]='PENDIENTE'))
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [CHK_EstadoPagoN]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [CHK_MetodoPago] CHECK  (([metodo_pago]='TRANSFERENCIA' OR [metodo_pago]='TARJETA' OR [metodo_pago]='EFECTIVO'))
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [CHK_MetodoPago]
GO
ALTER TABLE [dbo].[registros_acceso]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoAcceso] CHECK  (([estado_acceso]='MANUAL' OR [estado_acceso]='DENEGADO_CAPACIDAD' OR [estado_acceso]='DENEGADO_HORARIO' OR [estado_acceso]='DENEGADO_SANCION' OR [estado_acceso]='PERMITIDO'))
GO
ALTER TABLE [dbo].[registros_acceso] CHECK CONSTRAINT [CHK_EstadoAcceso]
GO
ALTER TABLE [dbo].[registros_auditoria]  WITH CHECK ADD  CONSTRAINT [CHK_AccionAuditoria] CHECK  (([tipo_accion]='DELETE' OR [tipo_accion]='UPDATE' OR [tipo_accion]='INSERT'))
GO
ALTER TABLE [dbo].[registros_auditoria] CHECK CONSTRAINT [CHK_AccionAuditoria]
GO
ALTER TABLE [dbo].[reservas_espacios]  WITH CHECK ADD CHECK  (([estado]='CANCELADA' OR [estado]='COMPLETADA' OR [estado]='ACTIVA'))
GO
ALTER TABLE [dbo].[solicitudes_tag]  WITH CHECK ADD CHECK  (([estado]='RECHAZADA' OR [estado]='APROBADA' OR [estado]='EN_REVISION' OR [estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[tags]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoTag] CHECK  (([estado]='DANADO' OR [estado]='PERDIDO' OR [estado]='ASIGNADO' OR [estado]='EN_STOCK'))
GO
ALTER TABLE [dbo].[tags] CHECK CONSTRAINT [CHK_EstadoTag]
GO
ALTER TABLE [dbo].[tarifas]  WITH CHECK ADD  CONSTRAINT [CHK_TarifaTipoVehiculo] CHECK  (([tipo_vehiculo]='OTRO' OR [tipo_vehiculo]='BICICLETA' OR [tipo_vehiculo]='MOTO' OR [tipo_vehiculo]='AUTO'))
GO
ALTER TABLE [dbo].[tarifas] CHECK CONSTRAINT [CHK_TarifaTipoVehiculo]
GO
ALTER TABLE [dbo].[tickets_visitantes]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoTicketVisitante] CHECK  (([estado]='COMPLETADO' OR [estado]='PAGADO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[tickets_visitantes] CHECK CONSTRAINT [CHK_EstadoTicketVisitante]
GO
ALTER TABLE [dbo].[vehiculos]  WITH CHECK ADD  CONSTRAINT [CHK_TipoVehiculo] CHECK  (([tipo_vehiculo]='OTRO' OR [tipo_vehiculo]='BICICLETA' OR [tipo_vehiculo]='MOTO' OR [tipo_vehiculo]='AUTO'))
GO
ALTER TABLE [dbo].[vehiculos] CHECK CONSTRAINT [CHK_TipoVehiculo]
GO
USE [master]
GO
