USE [dbo]
GO
/****** Object:  Table [dbo].[Accesos]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accesos](
	[id_acceso] [int] IDENTITY(1,1) NOT NULL,
	[id_vehiculo] [int] NOT NULL,
	[id_garaje] [int] NOT NULL,
	[id_asignacion_tag] [int] NOT NULL,
	[fecha_entrada] [datetime] NOT NULL,
	[fecha_salida] [datetime] NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_acceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activacion_Tags]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activacion_Tags](
	[id_activacion_tag] [int] IDENTITY(1,1) NOT NULL,
	[id_tag] [int] NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_activacion_tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcuerdoConfidencialidad]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcuerdoConfidencialidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContenidoHtml] [nvarchar](max) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaTransaccion] [datetime] NOT NULL,
 CONSTRAINT [PK__AcuerdoC__3214EC0702B5FA87] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignacion_Tags]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignacion_Tags](
	[id_asignacion_tag] [int] IDENTITY(1,1) NOT NULL,
	[id_tag] [int] NOT NULL,
	[id_vehiculo] [int] NOT NULL,
	[fecha_asignacion] [date] NOT NULL,
	[estado_asignacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asignacion_tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignacion_Tarifa]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignacion_Tarifa](
	[id_asignacion_tarifa] [int] IDENTITY(1,1) NOT NULL,
	[id_asignacion_tag] [int] NOT NULL,
	[id_tarifa] [int] NOT NULL,
	[fecha_pago] [date] NOT NULL,
	[estado] [int] NOT NULL,
	[estado_factura] [int] NOT NULL,
	[total_horas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asignacion_tarifa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Franja]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Franja](
	[id_franja] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[id_tarifa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_franja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Franja_Horaria]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Franja_Horaria](
	[id_franja_horaria] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_franja] [int] NOT NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_franja_horaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Garajes]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Garajes](
	[id_garaje] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[ubicacion] [varchar](200) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[fecha_creacion] [date] NOT NULL,
	[estado] [int] NOT NULL,
	[capacidad_max_espacios] [int] NOT NULL,
	[ocupaciones] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_garaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios_Garaje]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios_Garaje](
	[id_horario_garaje] [int] IDENTITY(1,1) NOT NULL,
	[hora_apertura] [time](7) NOT NULL,
	[hora_cierre] [time](7) NOT NULL,
	[id_garaje] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_horario_garaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidencias]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidencias](
	[id_incidencia] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_garaje] [int] NULL,
	[id_vehiculo] [int] NULL,
	[descripcion] [varchar](500) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_resolucion] [datetime] NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_incidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripciones]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripciones](
	[id_inscripcion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_periodo_inscripcion] [int] NOT NULL,
	[fecha_inscripcion] [date] NOT NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_inscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[tabla] [varchar](100) NOT NULL,
	[id_modificado] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metodos_Pago]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metodos_Pago](
	[id_metodo_pago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_metodo_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modulo]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSistema] [int] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[FechaTransaccion] [datetime] NOT NULL,
 CONSTRAINT [PK_Modulo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_metodo_pago] [int] NOT NULL,
	[id_asignacion_tarifa] [int] NULL,
	[id_sancion] [int] NULL,
	[total_pago] [decimal](10, 2) NOT NULL,
	[fecha_pago] [datetime] NOT NULL,
	[estado_pago] [int] NOT NULL,
	[estado_factura] [int] NOT NULL,
	[n_factura] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Periodo_Inscripcion]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodo_Inscripcion](
	[id_periodo_inscripcion] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_periodo_inscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSistema] [int] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[Descripcion] [nvarchar](250) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaTransaccion] [datetime] NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolTransaccion]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolTransaccion](
	[IdRol] [int] NOT NULL,
	[IdTransaccion] [int] NOT NULL,
	[FechaTransaccion] [datetime] NOT NULL,
 CONSTRAINT [PK_RolTransaccion] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolUsuario]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaTransaccion] [datetime] NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK__RolUsuar__3214EC07EC516B15] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sanciones]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanciones](
	[id_sancion] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_sancion] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha_sancion] [datetime] NOT NULL,
	[estado_factura] [int] NOT NULL,
	[estado_sancion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sistema]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[Descripcion] [nvarchar](300) NOT NULL,
	[FechaTransaccion] [datetime] NOT NULL,
 CONSTRAINT [PK_Sistema] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[id_tag] [int] IDENTITY(1,1) NOT NULL,
	[codigo_epc] [varchar](128) NOT NULL,
	[lote] [int] NOT NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarifas]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarifas](
	[id_tarifa] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[id_garaje] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tarifa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[id_ticket] [int] IDENTITY(1,1) NOT NULL,
	[fecha_entrada] [datetime] NOT NULL,
	[fecha_salida] [datetime] NULL,
	[tiempo_total] [decimal](10, 2) NULL,
	[id_tarifa] [int] NOT NULL,
	[total_pago] [decimal](10, 2) NULL,
	[id_usuario] [int] NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[estado_factura] [int] NOT NULL,
	[cedula] [varchar](20) NOT NULL,
	[correo] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Sanciones]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Sanciones](
	[id_tipo_sancion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_sancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaccion]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaccion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPadre] [int] NULL,
	[IdModulo] [int] NOT NULL,
	[Titulo] [nvarchar](250) NOT NULL,
	[Descripcion] [nvarchar](250) NOT NULL,
	[Controlador] [nvarchar](250) NOT NULL,
	[Accion] [nvarchar](250) NOT NULL,
	[IconClass] [nvarchar](250) NOT NULL,
	[Orden] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Visible] [bit] NOT NULL,
	[FechaTransaccion] [datetime] NOT NULL,
 CONSTRAINT [PK_Transaccion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRolAcuerdoConfidencialidad]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRolAcuerdoConfidencialidad](
	[IdUsuarioRol] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdAcuerdoConfidencialidad] [int] NOT NULL,
	[Firmado] [bit] NOT NULL,
	[FechaTransaccion] [datetime] NOT NULL,
 CONSTRAINT [PK_UsuarioRolAcuerdoConfidencialidad] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioRol] ASC,
	[IdUsuario] ASC,
	[IdAcuerdoConfidencialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [varchar](20) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[estado_usuario] [int] NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[tiene_discapacidad] [int] NOT NULL,
	[n_sancion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 09/03/2026 8:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[id_vehiculo] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[placa] [varchar](10) NOT NULL,
	[tipo_vehiculo] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[anio] [int] NOT NULL,
	[color] [varchar](30) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AcuerdoConfidencialidad] ON 

SET IDENTITY_INSERT [dbo].[AcuerdoConfidencialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Modulo] ON 

INSERT [dbo].[Modulo] ([Id], [IdSistema], [Nombre], [Descripcion], [FechaTransaccion]) VALUES (1, 1, N'administrador', N'admin', CAST(N'2026-08-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Modulo] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([Id], [IdSistema], [Nombre], [Descripcion], [Activo], [FechaTransaccion]) VALUES (1, 1, N'Administrador', N'rol de configuraciones', 1, CAST(N'2026-08-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
INSERT [dbo].[RolTransaccion] ([IdRol], [IdTransaccion], [FechaTransaccion]) VALUES (1, 1, CAST(N'2026-08-03T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RolUsuario] ON 

INSERT [dbo].[RolUsuario] ([Id], [IdRol], [IdUsuario], [FechaTransaccion], [Activo]) VALUES (1, 1, 1, CAST(N'2026-08-03T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RolUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Sistema] ON 

INSERT [dbo].[Sistema] ([Id], [Nombre], [Descripcion], [FechaTransaccion]) VALUES (1, N'Garage', N'control de acceso', CAST(N'2026-03-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sistema] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaccion] ON 

INSERT [dbo].[Transaccion] ([Id], [IdPadre], [IdModulo], [Titulo], [Descripcion], [Controlador], [Accion], [IconClass], [Orden], [Activo], [Visible], [FechaTransaccion]) VALUES (1, NULL, 1, N'Escritorio', N'-', N'Home', N'Index', N'fa fa-dashboard', 1, 1, 1, CAST(N'2022-04-28T12:08:42.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transaccion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_usuario], [cedula], [nombres], [apellidos], [correo], [estado_usuario], [fecha_creacion], [tiene_discapacidad], [n_sancion]) VALUES (1, N'cedula', N'dennys', N'coronel', N'dmcoronelv@pucesa.edu.ec', 1, CAST(N'2026-03-08' AS Date), 0, 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Franja_nombre]    Script Date: 09/03/2026 8:05:34 ******/
ALTER TABLE [dbo].[Franja] ADD  CONSTRAINT [UQ_Franja_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_FranjaHoraria_usuario_franja]    Script Date: 09/03/2026 8:05:34 ******/
ALTER TABLE [dbo].[Franja_Horaria] ADD  CONSTRAINT [UQ_FranjaHoraria_usuario_franja] UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC,
	[id_franja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Garajes_nombre]    Script Date: 09/03/2026 8:05:34 ******/
ALTER TABLE [dbo].[Garajes] ADD  CONSTRAINT [UQ_Garajes_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MetodosPago_nombre]    Script Date: 09/03/2026 8:05:34 ******/
ALTER TABLE [dbo].[Metodos_Pago] ADD  CONSTRAINT [UQ_MetodosPago_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Pagos_n_factura]    Script Date: 09/03/2026 8:05:34 ******/
ALTER TABLE [dbo].[Pagos] ADD  CONSTRAINT [UQ_Pagos_n_factura] UNIQUE NONCLUSTERED 
(
	[n_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Roles_nombre]    Script Date: 09/03/2026 8:05:34 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ_Roles_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Tags_codigo_epc]    Script Date: 09/03/2026 8:05:34 ******/
ALTER TABLE [dbo].[Tags] ADD  CONSTRAINT [UQ_Tags_codigo_epc] UNIQUE NONCLUSTERED 
(
	[codigo_epc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TipoSanciones_nombre]    Script Date: 09/03/2026 8:05:34 ******/
ALTER TABLE [dbo].[Tipo_Sanciones] ADD  CONSTRAINT [UQ_TipoSanciones_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_cedula]    Script Date: 09/03/2026 8:05:34 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_cedula] UNIQUE NONCLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_correo]    Script Date: 09/03/2026 8:05:34 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Vehiculos_placa]    Script Date: 09/03/2026 8:05:34 ******/
ALTER TABLE [dbo].[Vehiculos] ADD  CONSTRAINT [UQ_Vehiculos_placa] UNIQUE NONCLUSTERED 
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Garajes] ADD  DEFAULT ((0)) FOR [ocupaciones]
GO
ALTER TABLE [dbo].[Incidencias] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[Sanciones] ADD  DEFAULT (getdate()) FOR [fecha_sancion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [tiene_discapacidad]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [n_sancion]
GO
ALTER TABLE [dbo].[Accesos]  WITH CHECK ADD  CONSTRAINT [FK_Accesos_AsignacionTags] FOREIGN KEY([id_asignacion_tag])
REFERENCES [dbo].[Asignacion_Tags] ([id_asignacion_tag])
GO
ALTER TABLE [dbo].[Accesos] CHECK CONSTRAINT [FK_Accesos_AsignacionTags]
GO
ALTER TABLE [dbo].[Accesos]  WITH CHECK ADD  CONSTRAINT [FK_Accesos_Garajes] FOREIGN KEY([id_garaje])
REFERENCES [dbo].[Garajes] ([id_garaje])
GO
ALTER TABLE [dbo].[Accesos] CHECK CONSTRAINT [FK_Accesos_Garajes]
GO
ALTER TABLE [dbo].[Accesos]  WITH CHECK ADD  CONSTRAINT [FK_Accesos_Vehiculos] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[Vehiculos] ([id_vehiculo])
GO
ALTER TABLE [dbo].[Accesos] CHECK CONSTRAINT [FK_Accesos_Vehiculos]
GO
ALTER TABLE [dbo].[Activacion_Tags]  WITH CHECK ADD  CONSTRAINT [FK_ActivacionTags_Tags] FOREIGN KEY([id_tag])
REFERENCES [dbo].[Tags] ([id_tag])
GO
ALTER TABLE [dbo].[Activacion_Tags] CHECK CONSTRAINT [FK_ActivacionTags_Tags]
GO
ALTER TABLE [dbo].[Asignacion_Tags]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionTags_Tags] FOREIGN KEY([id_tag])
REFERENCES [dbo].[Tags] ([id_tag])
GO
ALTER TABLE [dbo].[Asignacion_Tags] CHECK CONSTRAINT [FK_AsignacionTags_Tags]
GO
ALTER TABLE [dbo].[Asignacion_Tags]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionTags_Vehiculos] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[Vehiculos] ([id_vehiculo])
GO
ALTER TABLE [dbo].[Asignacion_Tags] CHECK CONSTRAINT [FK_AsignacionTags_Vehiculos]
GO
ALTER TABLE [dbo].[Asignacion_Tarifa]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionTarifa_AsignacionTags] FOREIGN KEY([id_asignacion_tag])
REFERENCES [dbo].[Asignacion_Tags] ([id_asignacion_tag])
GO
ALTER TABLE [dbo].[Asignacion_Tarifa] CHECK CONSTRAINT [FK_AsignacionTarifa_AsignacionTags]
GO
ALTER TABLE [dbo].[Asignacion_Tarifa]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionTarifa_Tarifas] FOREIGN KEY([id_tarifa])
REFERENCES [dbo].[Tarifas] ([id_tarifa])
GO
ALTER TABLE [dbo].[Asignacion_Tarifa] CHECK CONSTRAINT [FK_AsignacionTarifa_Tarifas]
GO
ALTER TABLE [dbo].[Franja]  WITH CHECK ADD  CONSTRAINT [FK_Franja_Tarifas] FOREIGN KEY([id_tarifa])
REFERENCES [dbo].[Tarifas] ([id_tarifa])
GO
ALTER TABLE [dbo].[Franja] CHECK CONSTRAINT [FK_Franja_Tarifas]
GO
ALTER TABLE [dbo].[Franja_Horaria]  WITH CHECK ADD  CONSTRAINT [FK_FranjaHoraria_Franja] FOREIGN KEY([id_franja])
REFERENCES [dbo].[Franja] ([id_franja])
GO
ALTER TABLE [dbo].[Franja_Horaria] CHECK CONSTRAINT [FK_FranjaHoraria_Franja]
GO
ALTER TABLE [dbo].[Franja_Horaria]  WITH CHECK ADD  CONSTRAINT [FK_FranjaHoraria_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Franja_Horaria] CHECK CONSTRAINT [FK_FranjaHoraria_Usuarios]
GO
ALTER TABLE [dbo].[Horarios_Garaje]  WITH CHECK ADD  CONSTRAINT [FK_HorariosGaraje_Garajes] FOREIGN KEY([id_garaje])
REFERENCES [dbo].[Garajes] ([id_garaje])
GO
ALTER TABLE [dbo].[Horarios_Garaje] CHECK CONSTRAINT [FK_HorariosGaraje_Garajes]
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [FK_Incidencias_Garajes] FOREIGN KEY([id_garaje])
REFERENCES [dbo].[Garajes] ([id_garaje])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Incidencias_Garajes]
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [FK_Incidencias_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Incidencias_Usuarios]
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [FK_Incidencias_Vehiculos] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[Vehiculos] ([id_vehiculo])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Incidencias_Vehiculos]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_PeriodoInscripcion] FOREIGN KEY([id_periodo_inscripcion])
REFERENCES [dbo].[Periodo_Inscripcion] ([id_periodo_inscripcion])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_PeriodoInscripcion]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_Usuarios]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Usuarios]
GO
ALTER TABLE [dbo].[Modulo]  WITH CHECK ADD  CONSTRAINT [FK_Modulo_Sistema] FOREIGN KEY([IdSistema])
REFERENCES [dbo].[Sistema] ([Id])
GO
ALTER TABLE [dbo].[Modulo] CHECK CONSTRAINT [FK_Modulo_Sistema]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_AsignacionTarifa] FOREIGN KEY([id_asignacion_tarifa])
REFERENCES [dbo].[Asignacion_Tarifa] ([id_asignacion_tarifa])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_AsignacionTarifa]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_MetodosPago] FOREIGN KEY([id_metodo_pago])
REFERENCES [dbo].[Metodos_Pago] ([id_metodo_pago])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_MetodosPago]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Sanciones] FOREIGN KEY([id_sancion])
REFERENCES [dbo].[Sanciones] ([id_sancion])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Sanciones]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Usuarios]
GO
ALTER TABLE [dbo].[Periodo_Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_PeriodoInscripcion_Roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[Periodo_Inscripcion] CHECK CONSTRAINT [FK_PeriodoInscripcion_Roles]
GO
ALTER TABLE [dbo].[Rol]  WITH CHECK ADD  CONSTRAINT [FK_Rol_Sistema] FOREIGN KEY([IdSistema])
REFERENCES [dbo].[Sistema] ([Id])
GO
ALTER TABLE [dbo].[Rol] CHECK CONSTRAINT [FK_Rol_Sistema]
GO
ALTER TABLE [dbo].[RolTransaccion]  WITH CHECK ADD  CONSTRAINT [FK_RolTransaccion_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[RolTransaccion] CHECK CONSTRAINT [FK_RolTransaccion_Rol]
GO
ALTER TABLE [dbo].[RolTransaccion]  WITH CHECK ADD  CONSTRAINT [FK_RolTransaccion_Transaccion] FOREIGN KEY([IdTransaccion])
REFERENCES [dbo].[Transaccion] ([Id])
GO
ALTER TABLE [dbo].[RolTransaccion] CHECK CONSTRAINT [FK_RolTransaccion_Transaccion]
GO
ALTER TABLE [dbo].[RolUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RolUsuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[RolUsuario] CHECK CONSTRAINT [FK_RolUsuario_Rol]
GO
ALTER TABLE [dbo].[Sanciones]  WITH CHECK ADD  CONSTRAINT [FK_Sanciones_TipoSanciones] FOREIGN KEY([id_tipo_sancion])
REFERENCES [dbo].[Tipo_Sanciones] ([id_tipo_sancion])
GO
ALTER TABLE [dbo].[Sanciones] CHECK CONSTRAINT [FK_Sanciones_TipoSanciones]
GO
ALTER TABLE [dbo].[Sanciones]  WITH CHECK ADD  CONSTRAINT [FK_Sanciones_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Sanciones] CHECK CONSTRAINT [FK_Sanciones_Usuarios]
GO
ALTER TABLE [dbo].[Tarifas]  WITH CHECK ADD  CONSTRAINT [FK_Tarifas_Garajes] FOREIGN KEY([id_garaje])
REFERENCES [dbo].[Garajes] ([id_garaje])
GO
ALTER TABLE [dbo].[Tarifas] CHECK CONSTRAINT [FK_Tarifas_Garajes]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Tarifas] FOREIGN KEY([id_tarifa])
REFERENCES [dbo].[Tarifas] ([id_tarifa])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Tarifas]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Usuarios]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Modulo] FOREIGN KEY([IdModulo])
REFERENCES [dbo].[Modulo] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Modulo]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Transaccion] FOREIGN KEY([IdPadre])
REFERENCES [dbo].[Transaccion] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Transaccion]
GO
ALTER TABLE [dbo].[UsuarioRolAcuerdoConfidencialidad]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRolAcuerdoConfidencialidad_AcuerdoConfidencialidad] FOREIGN KEY([IdAcuerdoConfidencialidad])
REFERENCES [dbo].[AcuerdoConfidencialidad] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioRolAcuerdoConfidencialidad] CHECK CONSTRAINT [FK_UsuarioRolAcuerdoConfidencialidad_AcuerdoConfidencialidad]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Usuarios]
GO
ALTER TABLE [dbo].[Accesos]  WITH CHECK ADD  CONSTRAINT [CK_Accesos_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Accesos] CHECK CONSTRAINT [CK_Accesos_estado]
GO
ALTER TABLE [dbo].[Accesos]  WITH CHECK ADD  CONSTRAINT [CK_Accesos_fechas] CHECK  (([fecha_salida] IS NULL OR [fecha_salida]>=[fecha_entrada]))
GO
ALTER TABLE [dbo].[Accesos] CHECK CONSTRAINT [CK_Accesos_fechas]
GO
ALTER TABLE [dbo].[Activacion_Tags]  WITH CHECK ADD  CONSTRAINT [CK_ActivacionTags_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Activacion_Tags] CHECK CONSTRAINT [CK_ActivacionTags_estado]
GO
ALTER TABLE [dbo].[Activacion_Tags]  WITH CHECK ADD  CONSTRAINT [CK_ActivacionTags_fechas] CHECK  (([fecha_fin] IS NULL OR [fecha_fin]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[Activacion_Tags] CHECK CONSTRAINT [CK_ActivacionTags_fechas]
GO
ALTER TABLE [dbo].[Asignacion_Tags]  WITH CHECK ADD  CONSTRAINT [CK_AsignacionTags_estado] CHECK  (([estado_asignacion]=(1) OR [estado_asignacion]=(0)))
GO
ALTER TABLE [dbo].[Asignacion_Tags] CHECK CONSTRAINT [CK_AsignacionTags_estado]
GO
ALTER TABLE [dbo].[Asignacion_Tarifa]  WITH CHECK ADD  CONSTRAINT [CK_AsignacionTarifa_estado] CHECK  (([estado]=(2) OR [estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Asignacion_Tarifa] CHECK CONSTRAINT [CK_AsignacionTarifa_estado]
GO
ALTER TABLE [dbo].[Asignacion_Tarifa]  WITH CHECK ADD  CONSTRAINT [CK_AsignacionTarifa_estado_factura] CHECK  (([estado_factura]=(2) OR [estado_factura]=(1) OR [estado_factura]=(0)))
GO
ALTER TABLE [dbo].[Asignacion_Tarifa] CHECK CONSTRAINT [CK_AsignacionTarifa_estado_factura]
GO
ALTER TABLE [dbo].[Asignacion_Tarifa]  WITH CHECK ADD  CONSTRAINT [CK_AsignacionTarifa_total_horas] CHECK  (([total_horas]>(0)))
GO
ALTER TABLE [dbo].[Asignacion_Tarifa] CHECK CONSTRAINT [CK_AsignacionTarifa_total_horas]
GO
ALTER TABLE [dbo].[Franja]  WITH CHECK ADD  CONSTRAINT [CK_Franja_horario] CHECK  (([hora_inicio]<[hora_fin]))
GO
ALTER TABLE [dbo].[Franja] CHECK CONSTRAINT [CK_Franja_horario]
GO
ALTER TABLE [dbo].[Franja_Horaria]  WITH CHECK ADD  CONSTRAINT [CK_FranjaHoraria_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Franja_Horaria] CHECK CONSTRAINT [CK_FranjaHoraria_estado]
GO
ALTER TABLE [dbo].[Garajes]  WITH CHECK ADD  CONSTRAINT [CK_Garajes_capacidad] CHECK  (([capacidad_max_espacios]>(0)))
GO
ALTER TABLE [dbo].[Garajes] CHECK CONSTRAINT [CK_Garajes_capacidad]
GO
ALTER TABLE [dbo].[Garajes]  WITH CHECK ADD  CONSTRAINT [CK_Garajes_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Garajes] CHECK CONSTRAINT [CK_Garajes_estado]
GO
ALTER TABLE [dbo].[Garajes]  WITH CHECK ADD  CONSTRAINT [CK_Garajes_ocupaciones] CHECK  (([ocupaciones]>=(0)))
GO
ALTER TABLE [dbo].[Garajes] CHECK CONSTRAINT [CK_Garajes_ocupaciones]
GO
ALTER TABLE [dbo].[Garajes]  WITH CHECK ADD  CONSTRAINT [CK_Garajes_ocupaciones_max] CHECK  (([ocupaciones]<=[capacidad_max_espacios]))
GO
ALTER TABLE [dbo].[Garajes] CHECK CONSTRAINT [CK_Garajes_ocupaciones_max]
GO
ALTER TABLE [dbo].[Horarios_Garaje]  WITH CHECK ADD  CONSTRAINT [CK_HorariosGaraje_horario] CHECK  (([hora_apertura]<[hora_cierre]))
GO
ALTER TABLE [dbo].[Horarios_Garaje] CHECK CONSTRAINT [CK_HorariosGaraje_horario]
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [CK_Incidencias_estado] CHECK  (([estado]=(2) OR [estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [CK_Incidencias_estado]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [CK_Inscripciones_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [CK_Inscripciones_estado]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [CK_Logs_tipo] CHECK  (([tipo]='DELETE' OR [tipo]='UPDATE' OR [tipo]='INSERT'))
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [CK_Logs_tipo]
GO
ALTER TABLE [dbo].[Metodos_Pago]  WITH CHECK ADD  CONSTRAINT [CK_MetodosPago_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Metodos_Pago] CHECK CONSTRAINT [CK_MetodosPago_estado]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_estado_factura] CHECK  (([estado_factura]=(2) OR [estado_factura]=(1) OR [estado_factura]=(0)))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CK_Pagos_estado_factura]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_estado_pago] CHECK  (([estado_pago]=(2) OR [estado_pago]=(1) OR [estado_pago]=(0)))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CK_Pagos_estado_pago]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_total_pago] CHECK  (([total_pago]>=(0)))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CK_Pagos_total_pago]
GO
ALTER TABLE [dbo].[Periodo_Inscripcion]  WITH CHECK ADD  CONSTRAINT [CK_PeriodoInscripcion_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Periodo_Inscripcion] CHECK CONSTRAINT [CK_PeriodoInscripcion_estado]
GO
ALTER TABLE [dbo].[Periodo_Inscripcion]  WITH CHECK ADD  CONSTRAINT [CK_PeriodoInscripcion_fechas] CHECK  (([fecha_inicio]<=[fecha_fin]))
GO
ALTER TABLE [dbo].[Periodo_Inscripcion] CHECK CONSTRAINT [CK_PeriodoInscripcion_fechas]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [CK_Roles_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [CK_Roles_estado]
GO
ALTER TABLE [dbo].[Sanciones]  WITH CHECK ADD  CONSTRAINT [CK_Sanciones_estado_factura] CHECK  (([estado_factura]=(2) OR [estado_factura]=(1) OR [estado_factura]=(0)))
GO
ALTER TABLE [dbo].[Sanciones] CHECK CONSTRAINT [CK_Sanciones_estado_factura]
GO
ALTER TABLE [dbo].[Sanciones]  WITH CHECK ADD  CONSTRAINT [CK_Sanciones_estado_sancion] CHECK  (([estado_sancion]=(1) OR [estado_sancion]=(0)))
GO
ALTER TABLE [dbo].[Sanciones] CHECK CONSTRAINT [CK_Sanciones_estado_sancion]
GO
ALTER TABLE [dbo].[Tags]  WITH CHECK ADD  CONSTRAINT [CK_Tags_estado] CHECK  (([estado]=(2) OR [estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Tags] CHECK CONSTRAINT [CK_Tags_estado]
GO
ALTER TABLE [dbo].[Tarifas]  WITH CHECK ADD  CONSTRAINT [CK_Tarifas_precio] CHECK  (([precio]>(0)))
GO
ALTER TABLE [dbo].[Tarifas] CHECK CONSTRAINT [CK_Tarifas_precio]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [CK_Tickets_estado_factura] CHECK  (([estado_factura]=(2) OR [estado_factura]=(1) OR [estado_factura]=(0)))
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [CK_Tickets_estado_factura]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [CK_Tickets_fechas] CHECK  (([fecha_salida] IS NULL OR [fecha_salida]>=[fecha_entrada]))
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [CK_Tickets_fechas]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [CK_Tickets_tiempo_total] CHECK  (([tiempo_total] IS NULL OR [tiempo_total]>=(0)))
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [CK_Tickets_tiempo_total]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [CK_Tickets_total_pago] CHECK  (([total_pago] IS NULL OR [total_pago]>=(0)))
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [CK_Tickets_total_pago]
GO
ALTER TABLE [dbo].[Tipo_Sanciones]  WITH CHECK ADD  CONSTRAINT [CK_TipoSanciones_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Tipo_Sanciones] CHECK CONSTRAINT [CK_TipoSanciones_estado]
GO
ALTER TABLE [dbo].[Tipo_Sanciones]  WITH CHECK ADD  CONSTRAINT [CK_TipoSanciones_monto] CHECK  (([monto]>(0)))
GO
ALTER TABLE [dbo].[Tipo_Sanciones] CHECK CONSTRAINT [CK_TipoSanciones_monto]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_correo_formato] CHECK  (([correo] like '%_@_%.__%'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_correo_formato]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_discapacidad] CHECK  (([tiene_discapacidad]=(1) OR [tiene_discapacidad]=(0)))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_discapacidad]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_estado] CHECK  (([estado_usuario]=(2) OR [estado_usuario]=(1) OR [estado_usuario]=(0)))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_estado]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_n_sancion] CHECK  (([n_sancion]>=(0)))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_n_sancion]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [CK_Vehiculos_anio] CHECK  (([anio]>=(1900) AND [anio]<=(2100)))
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [CK_Vehiculos_anio]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [CK_Vehiculos_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [CK_Vehiculos_estado]
GO
/****** Object:  StoredProcedure [dbo].[GetTransaccionesBySistemaUsuario]    Script Date: 09/03/2026 8:05:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create    procedure  [dbo].[GetTransaccionesBySistemaUsuario]
@idSistema int,
@idUsuario int, 
@idRol int
as
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

SELECT distinct
Transaccion.Id,
Transaccion.IdPadre,
Transaccion.Titulo,
Transaccion.Descripcion, 
Transaccion.Controlador,
Transaccion.Accion,
Transaccion.IconClass,
Transaccion.Orden ,
Transaccion.Activo,
Transaccion.Visible, 
Rol.Id as IdRol

FROM
Transaccion INNER JOIN
Modulo ON Transaccion.IdModulo = Modulo.Id INNER JOIN
RolTransaccion ON Transaccion.Id = RolTransaccion.IdTransaccion INNER JOIN
Rol ON RolTransaccion.IdRol = Rol.Id INNER JOIN
RolUsuario ON Rol.Id = RolUsuario.IdRol
 
where
Modulo.IdSistema=@idSistema and
RolUsuario.IdUsuario=@idUsuario and
Rol.Id = @idRol and 
RolUsuario.Activo = 1
order by Orden
GO
